* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b4ced3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 2.5rem;
}



nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    text-decoration: underline;
    color: yellow;
}

nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
    gap: 3rem;
    justify-content: space-evenly;
}

header h1 {
    color: #fff;
    background-color: gray;
    padding: .4rem;
    border-radius: 4px;
}

main img {
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}