* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #002f5f;
    color: white;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("images/byu.jpeg") center/cover;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.btn {
    background: #ffd700;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.btn:hover {
    background: #e6c200;
}

/* SECTIONS */

.section {
    padding: 3rem 2rem;
    text-align: center;
}

.section h2 {
    margin-bottom: 1.5rem;
}

/* INFO */

.info-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* TEXT */

.text {
    max-width: 700px;
    margin: auto;
}

/* PROGRAMME */

.programme-list {
    list-style: none;
}

.programme-list li {
    margin: 0.5rem 0;
}

/* SPEAKERS */

.speakers {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f2f2f2;
    padding: 1.5rem;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* FORM */

.form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    padding: 0.7rem;
}

.form button {
    padding: 0.7rem;
    background: #002f5f;
    color: white;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background: #001f3f;
}

/* FOOTER */

footer {
    background: #002f5f;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .hero h1 {
        font-size: 2rem;
    }
}