* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans", sans-serif;
    background-color: #666;
}

main h1 {
    text-align: center;
    color: white;
}

main img {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    background-color: black;
    animation: fadeFromBlack 1.5s ease-in-out;
}

@keyframes fadeFromBlack {
    from {
        opacity: 0;
        filter: brightness(0);
    }

    to {
        opacity: 1;
        filter: brightness(1);
    }
}

footer {
    text-align: center;
    color: white;
}

footer #lastModified {
    color: yellow;
}