@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(152, 197, 225);
}

header>div>h3 {
    color: white;
    background-color: #444;
    height: 100px;
    padding: 1rem;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: white;
    height: 70px;
}
nav>ul>li {
    list-style: none;
}
nav>ul>li>a {
    text-decoration: none;
    color: white;
    line-height: 70px;
}
main {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    height: 350px;
    
}
.main-content {
    width: 75%;
    background-color: #bbb;
    padding: 1rem;
}
.aside-content {
    width: 25%;
    background-color: #eee;
    text-align: left;
    padding: 1rem;
}
footer {
    color: white;
    background-color: #444;
    height: 160px;
    text-align: center;
    padding-top: 1rem;
}