@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: grid;
    background: lightskyblue;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    display: grid;
    grid-column: 1 / 4;
}

header h3 {
    text-align: start;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: #444;
    color: white;
    font-weight: 500;
}

nav {
    display: flex;
    color: white;
    text-decoration: none;
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
	align-items: center;
}

main {
    display: grid;
    grid-column: 2 / 3;
    background-color: lightgreen;
}

aside {
    display: grid;
    grid-column: 3 / 4;
    background-color: tomato;
}

footer {
    display: grid;
    grid-column: 1 / 4;
    background-color: #444;
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 5rem;
}