* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header span {
    background-color: lab(88.12% 0 -0.01);
    padding: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 2rem;
    text-align: center;
    display: block;
}

nav {
    background-color: #36454f;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: .7rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

h1 {
    font-weight: 200;
    font-size: 20pt;
    text-align: center;
    padding: 1rem;
}

.card {
    display: flex;
    width: 100%;
    background-color: lab(88.12% 0 -0.01);
    border-radius: 5px;
    overflow: hidden;
    height: 420px;
    border: 1px solid #36454f;
}

.card h2 {
    padding: .5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    background-color: #36454f;
}

.above>div {
    display: flex;
    gap: 4rem;
    color: #36454f;
    padding: 2rem;
    font-weight: 500;
}

.above h3 {
    text-align: center;
    padding: .5rem;
    border-bottom: 1px solid white;
    width: 500px;
    margin-left: 3rem;
}

.flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.flag img {
    border: 1px solid #36454f;
}

.sep {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    color: #36454f;
    font-weight: 500;
}

.list>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    padding-top: 30%;
    gap: .5rem;
}

.list a {
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #36454f;
    color: white;
    margin-top: 1rem;
}

#lastModified {
    color: rgba(255, 255, 0, 0.79);
}