* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

:root {
    --primary: #FF7900;
    --secondary: #fff;
    --third: #009E60;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ddd;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

header {
    background-color: var(--primary);
    padding: 2rem;
    color: var(--secondary);
    border-bottom: 1.5rem solid var(--third);
}

main .hero>picture {
    background-color: var(--third);
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}


.container-data,
.container-weather {
    background-color: var(--secondary);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
}

.container-data>h2,
.container-weather>h2 {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-data img,
.container-weather img {
    padding-bottom: 2rem;
}

.info-data,
.info-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info-left-data,
.info-left-weather {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.info-right-data,
.info-right-weather {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

footer {
    background-color: var(--third);
    padding: 2rem;
    color: var(--secondary);
}

footer #lastModified {
    color: yellow;
}