* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    --primary: #FF8200;
    --secondary: #fff;
    --third: #009E60;
    --forth: #009A44;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}