* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
}

header p {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: none;
}

nav.open {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #34495e;
    text-align: center;
}

nav a:hover {
    border: 1px solid #fff;
    background-color: #1abc9c;
    color: #000;
}

main {
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

figure {
    margin-bottom: 1.5rem;
    text-align: center;
}

figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer #lastModified {
    color: yellow;
}

#menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}
